<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 네트워크 사용위한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDelivery"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- register -->
        <activity android:name=".register.EmailRegisterActivity" />
        <activity android:name=".register.AuthRegisterActivity" />
        <activity android:name=".register.PasswordRegisterActivity" />
        <activity android:name=".register.PrivacyRegisterActivity" />
        <activity android:name=".register.CompleteActivity" />

        <!-- login -->
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".login.FindPwActivity" />
        <activity android:name=".login.ModifyPwActivity" />

        <!-- home -->
        <activity android:name=".home.HomeActivity" />

        <!-- store -->
        <activity android:name=".store.StoreActivity" />

        <!-- menu -->
        <activity android:name=".menu.MenuListActivity" />
        <activity android:name=".menu.OptionActivity" />

        <!-- order -->
        <activity android:name=".order.OrderListActivity" />

        <!-- recruit -->
        <activity android:name=".recruit.RecruitActivity" />
        <activity android:name=".recruit.RecruitOrderListActivity" />

        <!-- point -->
        <activity android:name=".point.PointActivity" />

    </application>

</manifest>